.App {
 /* text-align: center; */
  min-height: 100vh;
}

.App-icon {
  width: 30px;
  display: flex;
  
 }

 .Row-SideBar {
  height: 60px;
  display: flex;
  align-content: center;
  justify-content: flex-start;
 }

 .NavLink{
  display: flex !important; 
  text-decoration: none !important;
  color: black;
  width: fit-content;
 }

 .NavLink:hover,
 .active{
  color: #1DA1F2 !important;
 }

 h5{
  padding-left: 25px;
  padding-top: 5px;
 }



.Main-Col {
  border-left: rgb(239, 243, 244) 1px solid;
  border-right: rgb(239, 243, 244) 1px solid;
  padding: 20px;
  min-height: 100vh;
}

.App-header {
 /* background-color: #282c34; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


