.App {
 /* text-align: center; */
  min-height: 100vh;
}

.App-icon {
  width: 30px;
  display: flex;
  
 }

 .Row-SideBar {
  height: 60px;
  display: flex;
  align-content: center;
  justify-content: flex-start;
 }

 .NavLink{
  display: flex !important; 
  text-decoration: none !important;
  color: black;
  width: fit-content;
 }

 .NavLink:hover,
 .active{
  color: #1DA1F2 !important;
 }

 h5{
  padding-left: 25px;
  padding-top: 5px;
 }



.Main-Col {
  border-left: rgb(239, 243, 244) 1px solid;
  border-right: rgb(239, 243, 244) 1px solid;
  padding: 20px;
  min-height: 100vh;
}

.form-control{
  border: 0 !important;
}

.form-control:focus{
  box-shadow: none !important; 
}

.TweetButton{
  background-color: #1DA1F2 !important;
  border: 0px !important;
  border-radius: 50px !important;
  width: 80px !important;
}

.TweetButtonSideMenu{
  background-color: #1DA1F2 !important;
  border: 0px !important;
  border-radius: 50px !important;
  width: 80% !important;
}

.IconButton{
  background-color: white !important;
  color: black !important;
  border: 0px !important; 
  width: fit-content !important;
}

.HeartButton{
  border: 0px !important;
  background-color: white !important;
  color: black !important;
  width: fit-content !important;
  ;
}

.PressedHeartButton{
  border: 0px !important;
  background-color: white !important;
  color: #1DA1F2 !important;
  fill: #1DA1F2 !important;
  width: fit-content !important;
}



/*
.App-header {
 /* background-color: #282c34; //
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
} */

